
<div id="hew" class="row">

  <div class="large-6 small-6 columns">
    <div id="happy">
      <%= image_tag("HouseHappy-transBkg-down5.png", alt: "Edit Entry") %>
    </div>

    <div id="ok">
      <%= image_tag("HouseNeutral-transBkg-down5.png", alt: "Edit Entry") %>
    </div>

    <div id="sad">
      <%= image_tag("HouseSad-transBkg-down5.png", alt: "Edit Entry") %>
    </div>
  </div>

  <div class="large-6 small-6 columns">
    <div id="notificationBubble" class="bubble rectangle-speech-border">
      <p id="notification"/>
    </div>
  </div>

</div>

<div class="row">
  <div class="progress radius">
    <span id="action-completed" class="meter" style="width: 0"></span>
  </div>
</div>

<div class="row">
  <a class="button completed">Completed!!</a>
</div>

